body{
    margin:0;
    overflow: hidden;
}
.scenery{
    position: relative;
}
.scenery img{
    height: 750px;
    width:100%;
}
.car img{
    position: absolute;
    top:450px;
    height:180px;
    animation-name: move;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes move{
    0%{
        top:450px;
        left:0;
    }
    25%{
        top:450px;
        left:300px;
    }
    50%{
        top:450px;
        left:600px;
    }
    75%{
        top:450px;
        left:900px;
    }
    100%{
        top:450px;
        left:1200px;
    }
}

.tyre img{
    position: absolute;
    top:533px;
    height:93px;
    left:31px;
    animation-name: tyre1;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes tyre1 {
    0%{
        transform: rotate(0deg);
        top:533px;
        left:31px;
    }
    25%{
        transform: rotate(300deg);
        top:533px;
        left:331px;
    }
    50%{
        transform: rotate(600deg);
        top:533px;
        left:631px;
    }
    75%{
        transform: rotate(900deg);
        top:533px;
        left:931px;
    }
    100%{
        transform: rotate(1200deg);
        top:533px;
        left:1231px;
    }
}
.tyre1 img{
    position: absolute;
    top:533px;
    height:93px;
    left:298px;
    animation-name: tyre2;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes tyre2 {
    0%{
        transform: rotate(0deg);
        top:533px;
        left:298px;
    }
    25%{
        transform: rotate(300deg);
        top:533px;
        left:598px;
    }
    50%{
        transform: rotate(600deg);
        top:533px;
        left:898px;
    }
    75%{
        transform: rotate(900deg);
        top:533px;
        left:1198px;
    }
    100%{
        transform: rotate(1200deg);
        top:533px;
        left:1498px;
    }
}